<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        div {text-align: center; margin: auto;}
        th {width: 200px; height: 50px;}
        td {width: 200px; height: 50px;}
        img {width: 100%; height: auto;}
        table {margin: auto; text-align: center;}
        p {width: 50%; margin: auto;}
        input {width: 90%; height: auto;}
        .alert {
            width: 50%;
            margin: 0 25%;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#price').val(0);
            $('#numberBookForm').change(function () {
                var n = parseInt(document.getElementById('numberBookForm').value);
                if (isNaN(n)) {
                    $("#price").val(0);
                } else {
                    $("#price").val(n * '{{ $movieData->moviePrice }}');
                }
            });
            setInterval(function () {
                $.getJSON("/api/autoRefresh/{{ $movieData->mid }}", function (result) {
                    if (result.status == "Y") {
                        $("#ticket").text(result.data.movieTicket);
                    } else {
                        $("#ticket").html("Status:" + result.status + "<br>" +
                            "Code:" + result.code + "<br>" +
                            "Message:" + result.message);
                    }
                });
            }, 1000);
        });
    </script>

    <title>{{ $movieData->movieName }}</title>
</head>

<body class="p-3 mb-2 bg-dark text-white">
<div id="home">
    <a href="/ticket/home"><img align="left" src="https://media.harrypotterfanzone.com/harry-potter-logo-tutorial-final.jpg" style="width:25%; height:auto;"></a>
    <div style="text-align: right;">
        @if ($userData == null)
            <a href="/ticket/signUp" class="btn btn-primary">註冊</a>
            <a href="/ticket/signIn" class="btn btn-primary">登入</a>
        @else
            <a href="/ticket/user" class="btn btn-primary">{{ $userData->nickname }} 的會員中心</a>
            <a href="/ticket/signOut" class="btn btn-primary">登出</a>
        @endif
    </div>
</div><br><br><br><br><br><br><br>

<div>
    {{--資訊--}}
    <table border = "1">
        <tr>
            <th>電影海報</th>
            <th>電影名稱</th>
            <th>上映時間</th>
            <th>票價</th>
            <th>剩餘票數</th>
            <th>訂票</th>
        </tr>
        <tr>
            <td><img src="{{ $movieData->movieImg }}"></td>
            <td>{{ $movieData->movieName }}</td>
            <td>{{ $movieData->movieTime }}</td>
            <td>＄{{ $movieData->moviePrice }}</td>
            <td><div id="ticket">{{ $movieData->movieTicket }}</div></td>
            <td>
                @if ($userData == null)
                    <a href="/ticket/signIn" class="btn btn-primary">登入</a><br>
                @else
                    <form method="post" action="/ticket/movie/{{ $movieData->mid }}" oninput="totalBookForm.value=parseInt(numberBookForm.value)*{{ $movieData->moviePrice }}">
                        @csrf
                        <input type="hidden" name="username" value="{{ $userData->username }}" />
                        <input type="hidden" name="mid" value="{{ $movieData->mid }}" />
                        領取人：<br>
                        <input type="text" name="nameBookForm" placeholder="請輸入全名" value="{{ $userData->nickname }}" /><br>
                        票數：<br>
                        <input type="number" name="numberBookForm" id="numberBookForm" placeholder="請輸入數量" /><br><br>
                        試算金額：＄<output name="price" id="price"></output><br><br>
                        <input type="hidden" name="totalBookForm" id="totalBookForm" />
                        <input type="submit" value="購票" class="btn btn-primary" style="width: auto;" /><br>
                    </form>
                @endif
            </td>
        </tr>
    </table><br>
    <p>{{ $movieData->movieDetail }}</p>
    {{--錯誤訊息--}}
    @if ($errors->any() || $error != null)
        <div class="alert alert-danger">
            <p>{{ $error }}</p>
            <ul>
                @foreach ($errors->all() as $error)
                    <li>{{ $error }}</li>
                @endforeach
            </ul>
        </div>
    @endif
</div>

</body>
</html>
