@font-face {
    font-family: 'Yuppy TC';
    src: url('../ttf/YuppyTC-Regular.ttf') format('truetype');
}

* {
    font-family: 'Yuppy TC', Arial, sans-serif;
    border-radius: 4px;
}

.links {
     line-height: 2em;
     margin-left: 20px;
}